aiohttp==3.7.4
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
filelock==3.0.12
idna==3.1
multidict==5.1.0
pipenv==2020.11.15
python-dotenv==0.15.0
typing-extensions==3.7.4.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
yarl==1.6.3
